.change-password-modal {
    .new-pass {
        margin-bottom: 10px;
    }

    input {
        margin-top: 4px;
    }

    label {
        font-size: 14px;
        font-weight: bold;
        color: #555;
    }
}